:root{
    --primary: #001f3d;
    --secondary: #039be5;
}
header{
    top: 0;
    background-color: var(--primary);
    color:white;
    padding: 10px 0;

}
header h1{
    display: flex;
    font-weight: bold;
    margin: 0 0 0 20px;
    font-size: 36px;
    padding-top: 10px;
    text-shadow: 0 0 10px rgba(0,0,0, 0.5);
}
#search-bar{
    background-color: var(--secondary);
    color: var(--primary);
}
#search-bar form{
    padding: 30px 0 0 20px;
}
#search-bar form button{
    background-color: var(--primary);
    color: white;
    border:none;
}
#citys{
    padding: 30px 0 0 20px;
}
.cityBtn{
    margin-top: 10px;
    background-color: var(--primary);
    color: white;
    border:none;
}
#weather{
    margin-left: 88px;
    margin-top: 20px;
    font-weight: bold;
}
#weather p{
    margin: 0;
}
.forcastCard{
    background-color: var(--primary);
    color: white;
    padding:20px 20px 0 20px;

}
.uvLow{
    background-color: green;
}
.uvMed{
    background-color: yellow;
}
.uvHi{
    background-color: orangered;
}
.uvEh{
    background-color: red;
}
.uvEx{
    background-color: black;
    color:white;
}
body{
    background-color: var(--outer2-color);
    margin: 0;
    padding: 0;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
}
